<header class="cabecera">
  <div class="contenedor cabecera-inner">
    <a routerLink="/" class="marca">
      <span class="marca-nombre">Tamales &amp; Lechona</span>
      <span class="marca-lugar">Distribuidora tolimense</span>
    </a>

    <nav class="nav-derecha">
      @if (auth.estaAutenticado()) {
        <a routerLink="/mis-pedidos" class="enlace">Mis pedidos</a>
        <a routerLink="/perfil" class="enlace">Mi perfil</a>
        <span class="saludo">Hola, {{ auth.sesion()?.nombre }}</span>
        <button type="button" class="enlace enlace-boton" (click)="salir()">Salir</button>
      } @else {
        <a routerLink="/login" class="enlace">Ingresar</a>
      }

      <a routerLink="/carrito" class="enlace-carrito">
        Carrito
        @if (carrito.cantidadTotal() > 0) {
          <span class="contador">{{ carrito.cantidadTotal() }}</span>
        }
      </a>
    </nav>
  </div>
</header>
